name: Podcast API - Request Audio

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  request:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Google auth
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY_JSON }}"
          token_format: "access_token"

      - name: Request generations
        env:
          GOOGLE_ACCESS_TOKEN: "${{ steps.auth.outputs.access_token }}"
        run: |
          python -m scripts.podcast_api.request_generate

      - name: Commit changes
        run: |
          if [ -n "$(git status --porcelain)" ]; then
            git config user.name "github-actions"
            git config user.email "github-actions@users.noreply.github.com"
            git add data/video-data/episodes_requests.csv
            git commit -m "Update episodes_requests with Podcast API operations"
            git push
          else
            echo "No changes to commit."
          fi
